main {
  /* Setting the opacity in the hex by adding '7f' because 'opacity' property would also affect the text */
  background: linear-gradient(180deg, #673eff7f 0, #0d03257f 27.5rem, #0b0121 100%);
  font-family: 'Montserrat', sans-serif;
  color: #ececec;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.hero-section h1 {
  font-size: 5rem;
  font-weight: 500;

  color: transparent;
  background: var(
    --secondary-hero-text-color,
    linear-gradient(146deg, #ececec 20.35%, transparent 128.73%)
  );
  background-clip: text;
}

.hero-section p {
  line-height: 2rem;
}

.filters-section {
  border-radius: 20px;
  padding: 1rem;
}

.text-job-count {
  font-size: 2rem;
  margin: 0px 0px 33px;
  width: fit-content;
  height: fit-content;
}

.text-filter {
  color: wheat;
}

.filter-and-jobs-container {
  display: flex;

  /* gap 32 + border of 20 */
  gap: 52px;
  padding: 0 130px;
}

.filter-container {
  display: flex;
  margin: auto;
  justify-items: start;
  width: 30vw;
  max-width: 350px;
}

.job-card-container {
  /* text-job-count height + margin = 81px */
  margin-top: 81px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.icon-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 24px;
}

.icon-button-container > button {
  border: none;
}

