.News-title {
  display: flex;
  justify-content: space-between;
}
.News-items {
  display: flex;
  justify-content: space-between;
}
.News-item {
  height: 466px;
  width: 45%;
  display: flex;
}
.News-first-background {
  background-image: url("/pictures/temp/First-article-image.png");
  height: 100%;
  border-radius: 12px;
}
.News-second-background {
  background-image: url("/pictures/temp/Second-article-image.png");
  height: 100%;
  border-radius: 12px;
}
.News-item-text-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 8px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(11, 1, 33, 0.52) 50.52%,
    #0b0121 100%
  );
}
.News-item-text-content p {
  color: #ececec;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  margin: 5%;
}
