body {
    background-color: #bee46c;
    color: #1D252C;
    font-family: 'Outfit', sans-serif;
    width: 1440px;
    height: 900px;
    margin: auto;
    background-image: url(lines_grid.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    text-align: center;
    font-size: 30px;
}
#background {
    position: fixed;
    top: calc(100px - 100%);
    left: calc(100px - 100%);
    right: calc(100px - 100%);
    bottom: calc(100px - 100%);
    z-index: -1;
    background-image: url('bg_graphic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: calc(50% + 100px) calc(50% + 100px);
  }
#coming-text {
    font-size: 100px; 
    text-align: center;
    margin: 20px;
}
#coming-text h1 {

    margin-bottom: 20px;
}
#coming-desc {
    font-size: 25px;
    width: 575px;
    height: 64px;
    text-align: center;
    margin: auto;
}
#redbox {
    position: relative;
    color: white;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color:#C3553B ;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    top: -11.5em;
}
#whitebox {
        top: 3.6em;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        border: 2.5px solid white;
        width: 500px;
        height: 175px;
        margin-bottom: 40px;
        border-radius: 10px;
        overflow: hidden;

        /* foggy glass */
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(22px);
}
.timer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #submitBtn {
    background-color: #C3553B;
    border: 0px;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
  }
  
  #submitBtn:hover {
    color: black;
    cursor: pointer;
    background-color: #FF7F50;
    transition: background-color 0.5s ease;
  }
  
  #submitBtn {
    border-radius: 10px;
    transition: border-radius 0.5s ease;
  }
  
  #submitBtn:hover {
    border-radius: 10px 0 10px 0;
    transition: border-radius 0.3s ease;
  }
  #emailInput {
    background-color: #bee46c;
    width: 200px;
    height: 30px;
    border: 2.5px solid #C3553B;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
    color: #C3553B;
    font-size: 15px;
    font-weight: bolder;
}
#emailInput:focus, input:focus{
    outline: none;
    border: 2.5px solid white;
    transition: border 0.3s ease;
}
#emailInput {
    transition: border 1s ease;
}
