.ad-card {
  width: 47%;
  height: 25rem;
  background-image: url('/pictures/ad-example.png');
  background-repeat: no-repeat;
  box-shadow: 0px 2px 4px rgba(157, 153, 153, 0.25);
  border: 1px solid linear-gradient(#ffffff00, #0b012185, #0b0121);
  border-radius: 20px;
  background-size: cover;
}

.ad-card-overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(11, 1, 33, 0.52));
  width: 100%;
  height: 100%;
  background-size: cover;
}

.ad-card-text {
  color: white;
  margin: 20px 25px;
  z-index: 99;
  width: 300px;
  position: absolute;
}

.ad-card-text-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .ad-card {
    width: 90%;
  }

  .ad-card-text {
    width: 70vw;
  }
}
