.compare-job-card-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #0b0121;
  box-sizing: border-box;
}
.compare-job-card-item {
  position: absolute;
  top: 33.12px;
  left: 18.39px;
  border-radius: 50%;
  width: 46.59px;
  height: 46.61px;
  object-fit: cover;
}
.nurse {
  position: absolute;
  height: 26.6%;
  width: 31.41%;
  top: 17.41%;
  left: 32.36%;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.full-time {
  margin: 0;
}
.full-time-container1 {
  line-break: anywhere;
  width: 100%;
}
.full-time-container {
  position: absolute;
  height: 54.4%;
  width: 64.02%;
  top: 36.91%;
  left: 32.36%;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  color: #a39bb4;
  display: flex;
  align-items: center;
}
.compare-job-card-inner {
  position: absolute;
  top: -4.35px;
  right: -3.12px;
  border-radius: 50%;
  background-color: #dbdbdb;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.group-icon {
  position: absolute;
  top: 1.55px;
  right: 2.78px;
  width: 8.2px;
  height: 8.2px;
  cursor: pointer;
}
.compare-job-card {
  position: relative;
  width: 263px;
  height: 113px;
  text-align: left;
  font-size: 20px;
  color: #0b0121;
  font-family: Montserrat;
}
.empty-compare-job-card {
  position: relative;
  width: 263px;
  height: 113px;
  border-radius: 20px;
  border: 1px solid #979797; 
  background-color: transparent;
  box-sizing: border-box; 
}
