.compare-box {
  position: fixed;
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(11, 1, 33, 0.9);
  box-shadow: 0px 0.5px 0px rgba(255, 255, 255, 0.5) inset;
  width: 100%;
  min-height: 257px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.compare-box-hide {
  transition:
    visibility 0.5s,
    opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}

.compare-box-show {
  transition:
    visibility 0.5s,
    opacity 0.5s;
  visibility: visible;
  opacity: 1;
}

.close-button-text {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.compare-box-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 113px;
}

.comparables-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 95%;
  margin-left: 2.5%;
}

.mobile-compare-header {
  display: none;
}

.mobile-compare-thumb-wrapper {
  display: none;
}

@media screen and (max-width: 1500px) {
  .compare-box-buttons-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .compare-box {
    flex-direction: column;
  }

  .compare-box-buttons-container {
    flex-direction: row;
  }

  .comparables-container {
    padding-top: 2rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  .compare-box {
    gap: 0;
    background-color: rgba(11, 1, 33);
  }

  .comparables-container {
    flex-direction: column;
    padding-top: 0rem;
    width: 100%;
    box-sizing: border-box;
    gap: 0;
  }

  .mobile-compare-thumb {
    height: 0.3rem;
    width: 5rem;
    background-color: #392f4d;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }

  .mobile-compare-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    color: #d0ced3;
    width: 100%;
    box-sizing: border-box;
    border-bottom: #392f4d 1px solid;
  }

  .mobile-compare-header p:nth-child(3) {
    color: #9087a1;
    text-decoration: underline;
  }

  .mobile-compare-header p {
    line-height: 1;
  }

  .compare-box-buttons-container {
    box-shadow:
      0px 2px 4px #0b0121,
      0px -2px 7px rgba(233, 223, 255, 0.3);
    width: 100%;
    height: 4rem;
    flex-direction: row-reverse;
  }

  .compare-box-buttons-container .for-compare-box {
    height: unset;
    padding: 0.4rem;
  }

  .compare-box-buttons-container .toggle-button-inner-text-toggled {
    padding: 0;
  }

  .compare-box-buttons-container > .close-button-text {
    text-decoration: none;
    outline: white 1px solid;
    width: 120px;
    text-align: center;
    padding: 0.4rem;
    border-radius: 5px;
  }
}
