.compare-box {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(11, 1, 33, 0.9);
  box-shadow: 0px 0.5px 0px rgba(255, 255, 255, 0.5) inset;
  width: 100%;
  height: 257px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.compare-box-hide {
  transition: visibility 0.5s, opacity 0.5s;
  visibility: hidden;
  opacity: 0;
}

.compare-box-show {
  transition: visibility 0.5s, opacity 0.5s;
  visibility: visible;
  opacity: 1;
}

.close-button-text {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
