.filter {
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
  box-shadow:
    0px -2px 10px rgba(233, 223, 255, 0.3),
    0px -2px 40px rgba(187, 155, 255, 0.15),
    0px 0.5px 0px rgba(255, 255, 255, 0.5) inset;
  width: 100%;
  height: min-content;
  padding: 8px 16px 40px 8px;
}

.filter-and-tools-container {
  flex-grow: 1;
  position: relative;
  width: 0;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-right: 2%;
}

.filter-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-header {
  padding: 20px;
  color: #fff;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.filter-clear {
  padding: 20px;
  color: #a39bb4;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration-line: underline;
  cursor: pointer;
}

.filters-flex-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.toggle-buttons-flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 1100px) {
  .filter-and-tools-container {
    display: none;
  }
}
