/*
.instance-child {
  position: absolute;
  top: 17.71px;
  left: -0.5px;
  border-top: 1px solid #ececec;
  box-sizing: border-box;
  width: 246.64px;
  height: 1px;
}
.search-location {
  position: absolute;
  top: -6px;
  left: 0px;
  line-height: 150%;
}
.expand-more-fill0-wght400-grad-icon {
  position: absolute;
  top: -9px;
  left: 222px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.line-parent2 {
  width: 100px;
  height: 18.21px;
}
.frame-parent2 {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  text-align: center;
  color: #040404;
}
.instance-parent {
  position: static;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
  text-align: left;
  font-size: 12px;
  color: #a39bb4;
  font-family: Montserrat;
}
*/
.large-filter-opener {
  width: 100%;
  border-bottom: 1px solid #ececec;
  padding: 4px;
  padding-left: 0px;
  cursor: pointer;
}

.large-filter-opener-text {
  font-size: 12px;
  line-height: 150%;
  font-family: Montserrat;
  color: #a39bb4;
  text-align: left; 
}

.expand-more-arrow {
  position: relative;
  top: 27px;
  left: calc(100% - 18px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}