.toggle-button-toggled {
  border-radius: 5px;
  border: #ececec solid 1px;
  background-color: #ececec;
  padding: 7px 16px 7.5px;
  text-align: center;
  color: #040404;

  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: Montserrat;
}

.toggle-button {
  border-radius: 5px;
  border: #ececec solid 1px;
  background-color: transparent;
  overflow: hidden;
  padding: 7px 16px 7.5px;
  text-align: center;

  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: Montserrat;
}

.toggle-button-inner-text-selected {
  color: #040404;
}

.toggle-button-inner-text {
  color: #fff;
}

.for-dropdown-controls {
  width: 30%;
}

.for-compare-box {
  background-color: white;
  width: 120px;
  height: 30px;
  padding: 10px 16px 5px;
}

.for-compare-box > .inner-text,
.for-compare-box > .inner-text-toggled {
  position: relative;
  transform: translate();
}
