main {
  /* Setting the opacity in the hex by adding '7f' because 'opacity' property would also affect the text */
  background: linear-gradient(180deg, #673eff7f 0, #0d03257f 27.5rem);
  font-family: 'Montserrat', sans-serif;
  color: #ececec;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.hero-section h1 {
  font-size: 5rem;
  font-weight: 500;

  color: transparent;
  background: var(
    --secondary-hero-text-color,
    linear-gradient(146deg, #ececec 20.35%, rgba(236, 236, 236, 0) 128.73%)
  );
  background-clip: text;
}

.hero-section p {
  line-height: 2rem;
}

