.headerImage {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0 0%;
  object-position: 0 0%;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(250, 250, 250)),
    color-stop(75%, rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: linear-gradient(rgb(250, 250, 250), rgba(0, 0, 0, 0) 75%);
}

.body {
  position: relative;
  margin: -10rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Typography */
  color: #ebebeb;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Montserrat;
  letter-spacing: -0.2px;
  /* font-size: 1.2rem; */
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

body * {
  background: transparent;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
.body p {
  margin: 0;
}

/* cards */
.profile {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 100%;
  gap: 0.5rem;

  justify-content: center;

  align-items: center;
  padding: 2.5rem;
  font-size: small;
}

.profile > * {
  max-width: 75%;
  text-align: center;
}

.profilePicture {
  width: 30%;
  height: auto;
  border-radius: 50%;
}
.profileName {
  word-wrap: normal;
  font-weight: 500;
  line-height: 110%;
}
.profileWebsite {
  color: #a39bb4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.2rem;
}

.profileWebsite p {
  white-space: nowrap;
}

.profileDescription {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}
.profileReports {
  color: #a39bb4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.tools {
  display: none;
  flex-direction: column;
  gap: 1.18rem;
  width: 100%;

  text-align: start;
  padding: 2.5rem;
  font-size: small;
}

.tools > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  padding: 0;
  gap: 1.18rem;
  margin: 0;
}

.tools > ul > li > a {
  color: #ececec;
  text-decoration: none;
}

.similarJobs {
  display: flex;
  flex-direction: column;
  gap: 1.18rem;
  min-width: 250px;
  width: 100%;

  text-align: left;

  justify-content: center;
  padding: 2.5rem;
  font-size: small;
}

.similarJobs > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  padding: 0;
  gap: 1.18rem;
  margin: 0;
}

.similarJobs > ul > li a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.similarJobs > ul > li img {
  border-radius: 100%;
  aspect-ratio: 1 / 1;
}

.company {
  font-weight: 600;
}
.jobTitle {
  font-weight: 500;
}
.location {
  font-weight: 400;
}
.tryOut {
  display: flex;
  justify-content: center;
  gap: 10px;

  color: #ebebeb;
  font-family: Montserrat;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}

.jobContainer {
  box-sizing: border-box;
  color: #ebebeb;
  font-family: Montserrat;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
}

.jobContainer h1 {
  font-weight: 500;
  font-size: 24px;
}

.jobContainer h2 {
  font-weight: 500;
  font-size: 18px;
}

.jobContainer p {
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  font-family: Montserrat;
}

.mainJobTitle {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.jobText {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin: 3rem 3rem 0 3rem;
  padding-bottom: 1.7rem;
  border-bottom: 1px solid #433368;
}

.actions {
  display: flex;
  flex-direction: column;
}

/* Utility classes */

.containerBorder {
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(65, 65, 65, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow:
    0px 0.5px 0px 0px rgba(255, 255, 255, 0.5) inset,
    0px -2px 40px 0px rgba(187, 155, 255, 0.15),
    0px -2px 10px 0px rgba(233, 223, 255, 0.3);
}

.subHeader {
  color: #a39bb4;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.none {
  color: unset;
  text-decoration: unset;
  font-weight: unset;
  font-size: unset;
}

.jobHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.jobHeader h1 {
  font-size: 26px;
  font-weight: 500;
}

.mainJobCompany {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.mainJobCompany img {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
}

.mainJobCompany p {
  width: 10rem;
  font-size: large;
}

.bookmarkButton {
  border: none;
  outline: none;
  padding: 0;
  display: grid;
  place-items: center;
}

.bookmarkButton img {
  height: 3rem;
  width: 3rem;
}

.callToAction {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#toolsSection {
  margin-top: 2rem;
}

#toolsSection ul {
  padding-left: 0;
  list-style-type: none;
}

#toolsSection li {
  margin-top: 1.5rem;
}

.mainJobTitle.desktopTitle {
  display: none;
}

@media screen and (min-width: 1280px) {
  .body {
    flex-direction: row-reverse;
    max-width: 1280px;
    margin: -10rem auto 0 auto;
    align-items: start;
  }

  .cards {
    flex-direction: column;
    width: 30%;
  }

  .cards > div {
    width: 100%;
    box-sizing: border-box;
  }

  .jobHeader,
  #toolsSection {
    display: none;
  }

  .jobContainer {
    width: 70%;
  }

  .mainJobTitle.desktopTitle {
    display: flex;
  }

  .mainJobTitle.desktopTitle h1 {
    font-size: 2rem;
  }

  .tools {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .jobHeader {
    flex-direction: column;
    gap: 2rem;
  }

  .body {
    margin: -5rem 1.5rem 0 1.5rem;
  }

  .similarJobs,
  .profile {
    min-width: unset;
  }

  .similarJobs ul {
    padding-left: 0;
  }

  .profile > * {
    max-width: 100%;
  }

  .jobText {
    margin: 1.5rem 1.5rem 0 1.5rem;
  }
}
