@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

/* These are changes for this site only elements */
#ProfileCompletion-Wrapper {
  height: 100%;
  display: flex;
}
#ProfileCompletion-wrapper p,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}
.Profile-completion-three-right {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: white;
  padding-bottom: 30px;
}
.Profile-completion-three-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin: 10% 20% 0% 10%;
  gap: 20px;
  width: 45%;
}
.Profile-completion-three-content .Title,
.Location {
  width: 100%;
}
.Profile-completion-three-content .Title input,
.Location input {
  width: 97.5%;
  height: 50px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding-left: 2.5%;
  padding-right: 0px;
}
.Profile-completion-three-content .Employment-type-dropdown button,
.Location-type-dropdown button {
  width: 100%;
  height: 50px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  background-color: white;
}
.Profile-completion-three-content .title p {
  margin-bottom: 0px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Profile-completion-three-content .Expand-more {
  display: flex;
  float: right;
  margin-top: 10px;
}
.Profile-completion-three-content p {
  display: flex;
  float: left;
}
.Profile-completion-three-content .Employment-type-content,
.Location-type-content,
.Month-content,
.Year-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.25);
  animation: fadeInDown 1.5s;
}
.Profile-completion-three-content .Employment-type-content p:hover,
.Location-type-content p:hover,
.Month-content p:hover,
.Year-content p {
  cursor: pointer;
  opacity: 80%;
}
.Profile-completion-three-content .Currently-working {
  display: flex;
  gap: 10px;
}
.Profile-completion-three-content .Currently-working .checkbox:checked {
  background-color: #120a2f;
}
.Profile-completion-three-content .Start-date-buttons,
.End-date-buttons {
  width: 100%;
  display: flex;
  gap: 2.5%;
}
.Start-date-buttons button,
.End-date-buttons button {
  height: 50px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  background-color: white;
}
.Month,
.Year {
  width: 47.5%;
}
.Month button,
.Year button {
  width: 100%;
}
.Month-content,
.Year-content {
  height: 200px;
  overflow-y: scroll;
}
.Month-content::-webkit-scrollbar,
.Year-content::-webkit-scrollbar {
  padding: 0px;
}
.Month-content::-webkit-scrollbar-thumb,
.Year-content::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 30px;
  background: #120a2f;
}

.Profile-completion-three-right .Header-text {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 100%;
}
.Profile-completion-three-right .Header-text h3 {
  margin: 0px;
}
.Profile-completion-three-content .Bottom {
  gap: 5px;
}
/* Dropdown animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* These are changes for the components */
.Profile-completion-three-content .Bottom .Proggress-bar {
  margin-top: 22.5px;
}

.Profile-completion-three-content .Bottom .Proggress-bar .Third {
  background: #120a2f;
  width: 42px;
  height: 10px;
  border-radius: 20px;
}
.Profile-completion-three-content .Bottom .Proggress-bar .First,
.Second {
  background-color: #d9d9d9;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.Profile-completion-three-content .Bottom .Next-Button button {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  line-height: normal;
  padding: 16px 43px;
}
.Profile-completion-three-content .Bottom .Next-Button p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin: 0px;
}
.Profile-completion-three-right .skipButton p {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin: 0px;
}
.Profile-completion-three-right .Header-logo h2 {
  color: #000;
}
.Profile-completion-three-right .Header-logo {
  display: none;
}
.Profile-completion-three-right .skipButton button {
  padding: 21px 45px;
}
