.skillsGroup {
  max-width: 50rem;
}

.skillsGroup-header {
  margin-bottom: 1rem;
}

.skillsGroup-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skillsGroup-skills > div {
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  white-space: nowrap;
}
